# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Uploads & local generated test files
dermascan_backend/data/users.json
dermascan_ai_service/uploads/temp/*
dermascan_ai_service/uploads/heatmaps/heatmap_be160b4d.jpg
dermascan_backend/uploads/1788*
dermascan_backend/uploads/reports/report-scr_mock_8*

# Frontend build
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db